<template >
    <div class='addTask'>
        <form @submit.prevent="submit" class="addTask__form">
            <label class='addTask__form-title'>Todo:</label>
            <input class='addTask__form-input' type="text" placeholder='Enter todo here'>
            <label  class='addTask__form-title'>Date:</label>
            <input class='addTask__form-day' type="date">
            <label  class='addTask__form-title'>Time:</label>
            <input class='addTask__form-time' type="time">
            <button class='addTask__form-submut'>Submit</button>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    .addTask{

        &__form{
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title{
                margin: 5px;
            }
        }
    }
</style>