<template>
  <div class="addTask">
    <div class="addTask__top">
      <h2 class="addTask__top-title">{{isUpdated(idUpdate) ? "Update task" : "Add task"}}</h2>
    </div>

    <div v-if="isUpdated(idUpdate)">
    <form @submit.prevent="submit" class="update__form"  v-for="taskUpdate in listTasks" :key="taskUpdate.id" >
      <p v-if="errors.length">
      <b class="error">Please correct the following error(s):</b>
      <ul>
        <li class='error-name' v-for="error in errors" :key="error.id">{{ error }}</li>
      </ul>
    </p>
      <label class="update__form-title">Update Todo:</label>
      <input
        class="update__form-input" :class="errors.length ? 'error-input' : null"
        type="text"
        placeholder="Enter todo here"
        v-model="newTodoText"
      />
      <label class="update__form-title">Update Date complete:</label>
      <input class="update__form-input" type="date" v-model="date" />
      <label class="update__form-title">Update Time complete:</label>
      <input class="update__form-input" type="time" v-model="time" />
      <div class="update__form-button">
        <button class="button-submit" @click="addTask">Update</button>
        <button class="button-reset" @click="resetForm">Reset</button>
      </div>
    </form>
    </div>

    <div v-else>
    <form @submit.prevent="submit" class="addTask__form">
      <p v-if="errors.length">
      <b class="error">Please correct the following error(s):</b>
      <ul>
        <li class='error-name' v-for="error in errors" :key="error.id">{{ error }}</li>
      </ul>
    </p>
      <label class="addTask__form-title">Todo:</label>
      <input
        class="addTask__form-input" :class="errors.length ? 'error-input' : null"
        type="text"
        placeholder="Enter todo here"
        v-model="newTodoText"
      />
      <label class="addTask__form-title">Date complete:</label>
      <input class="addTask__form-input" type="date" v-model="date" />
      <label class="addTask__form-title">Time complete:</label>
      <input class="addTask__form-input" type="time" v-model="time" />
      <div class="addTask__form-button">
        <button class="button-submit" @click="addTask">Submit</button>
        <button class="button-reset" @click="resetForm">Reset</button>
      </div>
    </form>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      errors: [],
      newTodoText: null,
      date: "",
      time: "",
      idUpdate: "",
    };
  },
  created() {
    this.getNow();
  },

  watch: {
    "$route.params.id": {
      handler: function (id) {
        this.idUpdate = id;
      },
      deep: true,
      immediate: true,
    },
  },

  computed: {
    isUpdated() {
      return (idUpdate) => idUpdate > 0;
    },

    ...mapGetters(["listTasks"]),
  },

  methods: {
    ...mapActions(["addTasks", "getIdTasks"]),

    getNow() {
      const current = new Date();
      const currentDate =
        current.getDate() < 10 ? "0" + current.getDate() : current.getDate();
      const currentMonth =
        current.getMonth() + 1 < 10
          ? "0" + current.getMonth() + 1
          : current.getMonth() + 1;
      const day =
        current.getFullYear() + "-" + currentMonth + "-" + currentDate;
      let hours =
        current.getHours() < 10 ? "0" + current.getHours() : current.getHours();
      let minute =
        current.getMinutes() < 10
          ? "0" + current.getMinutes()
          : current.getMinutes();
      this.date = day;
      this.time = hours + ":" + minute;
    },

    addTask() {
      this.errors = [];
      if (!this.newTodoText) {
        this.errors.push("Todo required.");
      } else {
        this.addTasks({
          task: this.newTodoText,
          date: this.date + this.time,
          completed: false,
          edit: false,
        });
        this.$router.push("/projects");
        this.newTodoText = "";
      }
    },

    resetForm() {
      this.newTodoText = "";
      this.getNow();
    },
  },
};
</script>
<style lang="scss">
.addTask {
  &__top {
    margin-bottom: 20px;
  }
  &__form,
  .update__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .error {
      &-name {
        color: red;
        font-size: 14px;
        font-weight: 600;
      }
    }

    &-title {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #9a9a9a;
    }

    &-input {
      margin: 5px 0;
      font-size: 18px;
      padding: 10px;
      border: none;
      background-color: #fcfbfd;
      border: 2px solid #a0a0a0;
      outline: none;
      border-radius: 15px;
    }

    .error-input {
      border: 2px solid red;
    }

    &-button {
      display: flex;
      margin: 20px auto;

      .button-submit,
      .button-reset {
        margin: 10px;
        width: 100px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: rgb(192, 37, 37);
        color: #fff;

        &:hover {
          background-color: rgb(194, 75, 75);
        }
      }
      .button-reset {
        background-color: rgb(52, 189, 40);

        &:hover {
          background-color: rgb(87, 212, 75);
        }
      }
    }
  }
}
</style>
