<template >
    <div class='addTask'>
        <form @submit.prevent="submit">
            <input type="text" placeholder='Enter todo here'>
            <input type="date">
            <button>Submit</button>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    
</style>