<template>
  <div class="addTask">
    <div class="addTask__top">
      <h2 class="addTask__top-title">Add a task</h2>
    </div>
    <form @submit.prevent="submit" class="addTask__form">
      <label class="addTask__form-title">Todo:</label>
      <input
        class="addTask__form-input"
        type="text"
        placeholder="Enter todo here"
      />
      <label class="addTask__form-title">Date:</label>
      <input class="addTask__form-input" type="date" />
      <label class="addTask__form-title">Time:</label>
      <input class="addTask__form-input" type="time" />
      <button class="addTask__form-submit">Submit</button>
    </form>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss">
.addTask {

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #9a9a9a;
    }

    &-input {
      margin: 5px 0;
      font-size: 18px;
      padding: 15px;
      border: none;
      background-color: #fcfbfd;
      border: 2px solid #a0a0a0;
      outline: none;
      border-radius: 15px;
    }

    &-submit {
      margin: 20px;
    }
  }
}
</style>
