<template >
    <div class='addTask'>
        <form @submit.prevent="submit" class="addTask__form">
            <input class='addTask__form-input' type="text" placeholder='Enter todo here'>
            <input class='addTask__form-day' type="date">
            <input class='addTask__form-time' type="time">
            <button class='addTask__form-submut'>Submit</button>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    .addTask{
        .addTask__form{
            display: flex;
        }
    }
</style>