<template>
  <div class="addTask">
    <div class="addTask__top">
      <h2 class="addTask__top-title">Add a task</h2>
    </div>
    <form @submit.prevent="submit" class="addTask__form">
      <p v-if="errors.length">
   <b>Please correct the following error(s):</b>
   <ul>
     <li v-for="error in errors">{{ error }}</li>
   </ul>
 </p>
      <label class="addTask__form-title">Todo:</label>
      <input
        class="addTask__form-input"
        type="text"
        placeholder="Enter todo here"
        v-model="newTodoText"
      />
      <label class="addTask__form-title">Date complete:</label>
      <input class="addTask__form-input" type="date" v-model="date" />
      <label class="addTask__form-title">Time complete:</label>
      <input class="addTask__form-input" type="time" v-model="time" />
      <div class="addTask__form-button">
        <button class="button-submit" @click="addTasks">Submit</button>
        <button class="button-reset">Reset</button>
      </div>
    </form>
  </div>
</template>
<script>
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      newTodoText: "",
      date: "",
      time: "",
    };
  },
  created() {
    this.getNow();
  },
  methods: {
    getNow() {
      const current = new Date();
      const day =
        current.getFullYear() +
        "-" +
        (current.getMonth() + 1) +
        "-" +
        current.getDate();
      let hours = current.getHours();
      let minute = current.getMinutes();
      this.date = day;
      if (minute < 10) {
        minute = "0" + minute;
      } else if (hours < 10) {
        hours = "0" + hours;
      }
      this.time = hours + ":" + minute;
    },

    ...mapMutations(["addTasks"]),

    addTasks() {
      this.$store.commit("addTasks", {
        task: this.newTodoText,
        date: this.date,
        time: this.time,
        completed: false,
        edit: false,
      });
      this.newTodoText= "";
    },

    submit(){

    }
  },
};
</script>
<style lang="scss">
.addTask {
  &__top {
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #9a9a9a;
    }

    &-input {
      margin: 5px 0;
      font-size: 18px;
      padding: 10px;
      border: none;
      background-color: #fcfbfd;
      border: 2px solid #a0a0a0;
      outline: none;
      border-radius: 15px;
    }

    &-button {
      display: flex;
      margin: 20px auto;

      .button-submit,
      .button-reset {
        margin: 10px;
        width: 100px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: rgb(192, 37, 37);
        color: #fff;

        &:hover {
          background-color: rgb(194, 75, 75);
        }
      }
      .button-reset {
        background-color: rgb(52, 189, 40);

        &:hover {
          background-color: rgb(87, 212, 75);
        }
      }
    }
  }
}
</style>
