<template >
    <div class='addTask'>
        <form @submit.prevent="submit" class="='addTask__form">
            <input class='form-input' type="text" placeholder='Enter todo here'>
            <input class='form-day' type="date">
            <input class='form-time' type="time">
            <button class='btn-submut'>Submit</button>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    
</style>