<template >
    <div class='addTask'>
        <form @submit="submit">
            <button>Add task</button>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    
</style>