<template>
  <div class="addTask">
    <div class="addTask__top">
      <h2 class="addTask__top-title">Add a task</h2>
    </div>
    <form @submit.prevent="submit" class="addTask__form">
      <label class="addTask__form-title">Todo:</label>
      <input
        class="addTask__form-input"
        type="text"
        placeholder="Enter todo here"
      />
      <label class="addTask__form-title">Date:</label>
      <input class="addTask__form-input" type="date" />
      <label class="addTask__form-title">Time:</label>
      <input class="addTask__form-input" type="time" />
      <div class="addTask__form-button">
        <button class="button-submit">Submit</button>
        <button class="button-reset">Reset</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss">
.addTask {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #9a9a9a;
    }

    &-input {
      margin: 5px 0;
      font-size: 18px;
      padding: 10px;
      border: none;
      background-color: #fcfbfd;
      border: 2px solid #a0a0a0;
      outline: none;
      border-radius: 15px;
    }

    &-button {
      display: flex;
      margin: 20px auto;
      
      .button-submit,
      .button-reset {
        margin: 10px;
        width: 100px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: rgb(184, 19, 19);
        color: #fff;
      }
      .button-reset {
        background-color: rgb(25, 173, 11);
      }
    }
  }
}
</style>
