<template>
  <div class="home">
    <h1>.study</h1>
    Welcome DTT_Zerro
    <h2></h2>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss">
.home {
  
}
</style>
