<template>
  <div class="home">
    <div class="home__welcome">
      <h1 class="home__welcome-logo"><span class="logo-dog">.</span>study</h1>
      <h1 class="home__welcome-content">
        Welcome <span class="content-name">DTT_Zerro</span> to the study
      </h1>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  position: relative;

  .home__welcome {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;

    &-logo {
      color: #000;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 2px;
      user-select: none;
      line-height: 2;

      .logo-dog {
        color: red;
      }
    }
    &-content {
      font-size: 36px;

      .content-name {
        color: red;
      }
    }
  }
}
</style>
