<template>
  <div class="home">
    <div class="home__welcome">
      <h1 class="home__welcome-logo">.study</h1>
      <h1 class="home__welcome-content">
        Welcome <span class="content-name">DTT_Zerro</span> to the study
      </h1>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss" scoped>
.home {
  .home__welcome {
    text-align: center;

    &-logo {
      color: #000;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 2px;
      user-select: none;

      .content-dog{
        color: red;
      }
      }
  }
}
</style>
