<template>
  <div class="home">
    <div class="home__top">
      <h2 class="home__top-title">Projects</h2>
      <p class="home__top-week">This week <i class="fas fa-angle-down"></i></p>
    </div>
    <div class="home__task">
      <ul class="list-task">
        <li class="list-task__item">
          <p>Learn JavaScript</p>
        </li>
        <li class="list-task__item">
          <p>Learn VueJS</p>
        </li>
        <li class="list-task__item">
          <p>Do something with VueJS</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss">
.home {
  margin-top: 20px;
  padding: 20px 40px 40px 40px;
  position: absolute;
  width: 75%;
  height: calc(80vh - 8vh);
  right: 0;
  top: 8vh;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &-week {
      font-size: 18px;
      cursor: pointer;
      user-select: none;
    }
  }

  &__task {
    margin-top: 40px;

    .list-task__item {
      margin: 20px 0;
      background-color: #f2f5f5;
      padding: 20px;
      border-radius: 10px;

      p{
        font-size: 18px;
      }
    }
  }
}
</style>
