<template>
  <div class="home">
    <div class="home__top">
      <h2 class="home__top-title">Projects</h2>
      <p class="home__top-week">This week <i class="fas fa-angle-down"></i></p>
    </div>
    <div class="home__task">
      <ul class="list-task">
        <li class="list-task__item">
          <p class="item-text">Learn JavaScript</p>
          <span class="item-icon">
            <i class="far fa-check-circle"></i>
            <i class="far fa-times-circle"></i>
            <i class="far fa-edit"></i>
            </span>
        </li>
        <li class="list-task__item">
          <p class="item-text">Learn VueJS</p>
          <span class="item-icon">
            <i class="far fa-check-circle"></i>
            <i class="far fa-times-circle"></i>
            <i class="far fa-edit"></i>
            </span>
        </li>
        <li class="list-task__item">
          <p class="item-text">Do something with VueJS</p>
          <span class="item-icon">
            <i class="far fa-check-circle"></i>
            <i class="far fa-times-circle"></i>
            <i class="far fa-edit"></i>
            </span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss">
.home {
  margin-top: 20px;
  padding: 20px 40px 40px 40px;
  position: absolute;
  width: 75%;
  height: calc(80vh - 8vh);
  right: 0;
  top: 8vh;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &-week {
      font-size: 18px;
      cursor: pointer;
      user-select: none;
    }
  }

  &__task {
    margin-top: 40px;

    .list-task__item {
      margin: 20px 0;
      background-color: #f2f5f5;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-text{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: .5px;
      }

      .item-icon{
        font-size: 26px;

        .far{
          margin: 0 20px
        }
      }
    }
  }
}
</style>
