<template>
  <div class="home">
    <div class="home__top">
      <h2 class="home__top-title">Projects</h2>
      <p class="home__top-week">This week <i class="fas fa-angle-down"></i></p>
    </div>
    <div class="home__task">
      <ul class="list-task">
        <li class="list-task__item">
          <p>Learn JavaScript</p>
        </li>
        <li class="list-task__item">
          <p>Learn VueJS</p>
        </li>
        <li class="list-task__item">
          <p>Do something with VueJS</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
