<template>
  <div class="home">
    <h1>hi, i am home page</h1>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss">
.home {
  margin-top: 20px;
  padding: 20px 40px 40px 40px;
  position: absolute;
  width: 75%;
  height: calc(80vh - 8vh);
  right: 0;
  top: 8vh;

  
}
</style>
