<template>
  <div class="home">
    <div class="home__welcome">
      <h1 class="home__welcome-logo">.study</h1>
      <h2 class="home__welcome-content">
        Welcome <span>DTT_Zerro</span> to the study
      </h2>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss">
.home {
  text-align: center;
}
</style>
