<template>
    <div class='projects'>
        <div class="home__top">
      <h2 class="home__top-title">Projects</h2>
      <p class="home__top-week">This week <i class="fas fa-angle-down"></i></p>
    </div>
    <div class="home__task">
      <ul class="list-task">
        <li class="list-task__item">
          <p class="item-text">Learn JavaScript
            <span class="item-text__time">17/11/2021, 11:58AM</span>
          </p>
          <span class="item-icon">
            <i class="far fa-check-circle"></i>
            <i class="far fa-times-circle"></i>
            <i class="far fa-edit"></i>
            </span>
        </li>
        <li class="list-task__item">
          <p class="item-text">Learn VueJS
            <span class="item-text__time">17/11/2021, 11:58AM</span>
          </p>
          <span class="item-icon">
            <i class="far fa-check-circle"></i>
            <i class="far fa-times-circle"></i>
            <i class="far fa-edit"></i>
            </span>
        </li>
        <li class="list-task__item">
          <p class="item-text">Do something with VueJS
            <span class="item-text__time">17/11/2021, 11:58AM</span>
          </p>
          <span class="item-icon">
            <i class="far fa-check-circle"></i>
            <i class="far fa-times-circle"></i>
            <i class="far fa-edit"></i>
            </span>
        </li>
      </ul>
    </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">
    
</style>