<template>
  <div class="projects">
    <div class="projects__top">
      <h2 class="projects__top-title">Projects</h2>
      <p class="projects__top-week">
        This week <i class="fas fa-angle-down"></i>
      </p>
    </div>
    <div class="projects__task">
      <ul class="list-task">
        <li
          class="list-task__item"
          v-for="(listTask, index) in listTasks"
          :key="index"
          :title="listTask.task"
        >
          <p class="item-text">
            {{ listTask.task }}
            <span class="item-text__time"
              >{{ listTask.date }}, {{ listTask.time }}</span
            >
          </p>
          <span class="item-icon">
            <i class="far fa-check-circle"></i>
            <i class="far fa-times-circle"></i>
            <i class="far fa-edit"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "project",
  data() {
    return {
      listTasks: [
        {
          task: "Learn VueJS",
          date: "17/11/2021",
          time: "11:58AM",
          completed: false,
        },
        {
          task: "Learn React",
          date: "17/11/2021",
          time: "11:58AM",
          completed: false,
        },
        {
          task: "Learn Javascript",
          date: "17/11/2021",
          time: "11:58AM",
          completed: false,
        },
        {
          task: "Do something with VueJS",
          date: "17/11/2021",
          time: "11:58AM",
          completed: false,
        },
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
.projects {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &-week {
      font-size: 18px;
      cursor: pointer;
      user-select: none;
    }
  }

  &__task {
    margin-top: 40px;

    .list-task__item {
      margin: 20px 0;
      background-color: #f2f5f5;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-text {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
        user-select: none;

        &__time {
          font-size: 12px;
          font-weight: 500;
          color: #9a9a9a;
        }
      }

      .item-icon {
        font-size: 26px;

        .far {
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
