<template>
  <div class="projects">
    <div class="projects__top">
      <h2 class="projects__top-title">Projects</h2>
      <p class="projects__top-week">
        This week <i class="fas fa-angle-down"></i>
      </p>
    </div>
    <div class="projects__task">
      <ul class="list-task">
        <li
          class="list-task__item"
          :class="listTask.completed ? 'active' : null"
          v-for="(listTask, id) in listTasks"
          :key="id"
          :title="listTask.task"
        >
          <div class="input-item" v-if="listTask.edit == true">
            <input
              class="input input-text"
              type="text"
              :placeholder="listTask.task"
              autofocus
            />
            <div class="input-daytime">
              <input
                class="input input-day"
                type="date"
                :placeholder="listTask.date"
              />,
              <input
                class="input input-time"
                type="time"
                :placeholder="listTask.time"
              />
            </div>
          </div>
          <div class="p-item" v-else>
            <p class="item-text">
              {{ listTask.task }}
              <span class="item-text__time">
                {{ listTask.date }}, {{ listTask.time }}
              </span>
            </p>
          </div>
          <span class="item-icon" v-if="listTask.edit == true">
            <i class="icon fas fa-check" title="complete"></i>
            <i class="icon fas fa-undo" title="reset"></i>
            <i
              class="icon fas fa-arrow-left"
              title="back"
              @click="listTask.edit = false"
            ></i>
          </span>
          <span class="item-icon" v-else>
            <i
              class="icon"
              :class="
                listTask.completed
                  ? ' fas fa-check-circle checked'
                  : 'far fa-check-circle '
              "
              title="complete task"
              @click="listTask.completed = !listTask.completed"
            ></i>
            <i
              class="icon far fa-times-circle"
              @click="removeTasks(id)"
              title="Delete task"
            ></i>
            <i
              class="icon far fa-edit"
              title="Edit task"
              @click="listTask.edit = true"
            ></i>
          </span>
        </li>
      </ul>
    </div>
    <div class="overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="projects__task"
      ></b-pagination>

      <p class="mt-3">Current Page: {{ currentPage }}</p>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "project",
  components: {},
  data() {
    return {
      perPage: 3,
      currentPage: 1,
    };
  },

  methods: {
    ...mapMutations(["removeTasks"]),
  },
  computed: {
    ...mapGetters(["listTasks"]),
    rows() {
      return this.listTasks.length;
    },
  },
};
</script>
<style lang="scss" scoped>
.projects {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &-week {
      font-size: 18px;
      cursor: pointer;
      user-select: none;
    }
  }

  &__task {
    margin-top: 40px;

    .list-task__item {
      margin: 20px 0;
      background-color: #f2f5f5;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-text {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
        user-select: none;

        &__time {
          font-size: 12px;
          font-weight: 500;
          color: #9a9a9a;
        }
      }

      .item-icon {
        font-size: 26px;

        .icon {
          margin: 0 5px;
          cursor: pointer;
        }
        .checked {
          color: rgb(13, 194, 52);
        }
      }

      .input-item {
        .input {
          font-size: 18px;
          margin: 3px 0;
          padding: 3px;
          outline: none;
          border: 2px solid #a0a0a0;
          border-radius: 10px;
        }

        .input-daytime {
          .input-day,
          .input-time {
            margin-right: 5px;
          }
        }
      }
    }

    .active > .p-item {
      text-decoration: line-through;
      color: #9a9a9a;
    }
  }
}
</style>
