<template>
  <div class="projects">
    <div class="projects__top">
      <h2 class="projects__top-title">Projects</h2>
      <select v-model="selected" @change="sortListTask" id="sort" class="sort">
        <option>Default</option>
        <option>A - Z</option>
        <option>Z - A</option>
        <option>Completed</option>
        <option>Unfinished</option>
      </select>
    </div>
    <div class="projects__task">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :on-cancel="onCancel"
        <!--
        :is-full-page="fullPage"
        --
      >
        ></loading
      >
      <ul class="list-task">
        <li
          class="list-task__item"
          v-for="listTask in listTasks"
          :class="listTask.completed ? 'active' : null"
          :key="listTask.id"
          :title="listTask.task"
        >
          <div class="p-item">
            <p class="item-text">
              {{ listTask.task }}
              <span class="item-text__time">
                {{ formatDate(listTask.date) }}
              </span>
            </p>
          </div>
          <span class="item-icon">
            <i
              class="icon"
              :class="
                listTask.completed
                  ? ' fas fa-check-circle checked'
                  : 'far fa-check-circle '
              "
              title="complete task"
              @click="listTask.completed = !listTask.completed"
            ></i>
            <i
              class="icon far fa-times-circle"
              @click="removeTask(listTask.id)"
              title="Delete task"
            ></i>
            <i
              class="icon far fa-edit"
              title="Edit task"
              @click="getTaskUpdate(listTask.id)"
            ></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import * as dayjs from "dayjs";
import "vue-loading-overlay/dist/vue-loading.css";
import Loading from "vue-loading-overlay";

export default {
  components: {
    Loading,
  },
  name: "",
  data() {
    return {
      selected: "Default",
      isLoading: false,
      fullPage: true,
    };
  },

  // watch: {
  //   listTasks: function (val) {
  //     console.log(val);
  //   },
  //   deep: true,
  // },

  methods: {
    ...mapMutations(["sortListTasks"]),

    ...mapActions(["removeTasks", "getListTasks", "getIdTasks"]),

    sortListTask: function () {
      this.$store.commit("sortListTasks", this.selected);
    },

    removeTask: function (id) {
      this.removeTasks(id);
      alert("Bị xoá mất tiêu luôn!!!!");
      let loader = this.$loading.show({
        // Optional parameters
        container: this.fullPage ? null : this.$refs.formContainer,
        canCancel: true,
        onCancel: this.onCancel,
      });
      // simulate AJAX
      setTimeout(() => {
        loader.hide();
      }, 3000);
      this.getListTasks();
    },

    formatDate(date) {
      return dayjs(date).format("DD-MM-YYYY HH:mm:ss");
    },

    getTaskUpdate(id) {
      this.$router.push(`/task/${id}`);
      this.getIdTasks(id);
    },

    // showToggle() {
    //   setTimeout(() => {
    //     this.show = false;
    //     console.log("this.show: ", this.show);
    //   }, 3000);
    // },
  },

  computed: {
    ...mapGetters(["listTasks"]),
  },

  // beforeMount() {
  //   this.sortListTask((this.selected = "Default"));
  //   console.log("this.selected 2: ", this.selected);
  // },

  created() {
    this.getListTasks();
  },
};
</script>
<style lang="scss" scoped>
.projects {
  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .sort {
      background-color: #fcfbfd;
      border: none;
      font-size: 18px;
      outline: none;
      padding: 10px;
    }
  }

  &__task {
    height: 55vh;
    margin-top: 40px;
    overflow-y: scroll;

    .list-task__item {
      align-items: center;
      background-color: #f2f5f5;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      padding: 20px;

      .item-text {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        white-space: nowrap;
        width: 500px;

        &__time {
          color: #9a9a9a;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .item-icon {
        font-size: 26px;

        .icon {
          color: #000;
          cursor: pointer;
          margin: 0 5px;
        }
        .checked {
          color: rgb(13, 194, 52);
        }
      }

      .input-item {
        .input {
          border-radius: 10px;
          border: 2px solid #a0a0a0;
          font-size: 18px;
          margin: 3px 0;
          outline: none;
          padding: 3px;
        }

        .input-daytime {
          .input-day,
          .input-time {
            margin-right: 5px;
          }
        }
      }
    }

    .active > .p-item {
      text-decoration: line-through;
      color: #9a9a9a;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22add4, #1e98ba);
  }
}
</style>
