<template>
  <div class="projects">
    <div class="projects__top">
      <h2 class="projects__top-title">Projects</h2>
      <p class="projects__top-week">
        This week <i class="fas fa-angle-down"></i>
      </p>
    </div>
    <div class="projects__task">
      <ul class="list-task">
        <li
          class="list-task__item"
          :class="listTask.completed ? 'active' : null"
          v-for="(listTask, id) in listTasks"
          :key="id"
          :title="listTask.task"
        >
          <p class="item-text">
            {{ listTask.task }}
            <span class="item-text__time">
              {{ listTask.date }}, {{ listTask.time }}
            </span>
          </p>
          <span class="item-icon">
            <i
            class='icon'
              :class="
                listTask.completed
                  ? ' fas fa-check-circle checked'
                  : 'far fa-check-circle '
              "
              title="complete task"
              @click="listTask.completed = !listTask.completed"
            ></i>
            <i  class="icon far fa-times-circle" @click="removeTasks(id)" title="Delete task"></i>
            <i class="icon far fa-edit" title="Edit task"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "project",
  data() {
    return {};
  },
  methods: {
    ...mapMutations(['removeTasks']),
    // completedHandel() {
    //   this.completed = !this.completed;
    //   console.log('this.completed: ', this.completed);
    // },
  },
  computed: {
    ...mapGetters(["listTasks"]),
  },
};
</script>
<style lang="scss" scoped>
.projects {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &-week {
      font-size: 18px;
      cursor: pointer;
      user-select: none;
    }
  }

  &__task {
    margin-top: 40px;

    .list-task__item {
      margin: 20px 0;
      background-color: #f2f5f5;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item-text {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
        user-select: none;

        &__time {
          font-size: 12px;
          font-weight: 500;
          color: #9a9a9a;
        }
      }

      .item-icon {
        font-size: 26px;

        .icon {
          margin: 0 5px;
          cursor: pointer;

        }
          .checked{
            color: rgb(13, 194, 52);
          }
      }
    }

    .active > p {
      text-decoration: line-through;
      color: #9a9a9a;
    }
  }
}
</style>
