<template>
  <div class="update">
    <div class="top">
      <h2 class="title">Update Task</h2>
    </div>
    <form @submit.prevent="submit" class="updateTask__form"></form>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
</style>