<template>
  <div class="update">
    <div class="top">
      <h2 class="title">Update Task</h2>
    </div>
    <form @submit.prevent="submit" class="updateTask__form">
      <label class="title">Task Update</label>
      <input type="text" class="input" placeholder="update task" />
      <label class="title">Date update</label>
      <input type="date" class="input" placeholder="update task" />
      <label class="title">Time Update</label>
      <input type="time" class="input" placeholder="update task" />
      <div class="button">
        <button class="btn__update">Update</button>
        <button class="cancel">Cancel</button>
      </div>
    </form>
  </div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.update {
  .top {
    margin-bottom: 20px;
  }
  .updateTask__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>