<template>
  <div id="app">
    <div class="container">
      <Menu />
      <Topbar/>
      <div class="content">
      <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Topbar from './components/Topbar.vue'
import Menu from './components/Menu.vue'

export default {
  components: {  Menu, Topbar },
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

#app {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background: #e6ecec;
  margin: 0 auto;
  position: relative;

  .container {
  width: 90%;
  height: 80vh;
  background: #fcfbfd;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.content{
  margin-top: 20px;
  padding: 20px 40px 40px 40px;
  position: absolute;
  width: 75%;
  height: calc(80vh - 8vh);
  right: 0;
  top: 8vh;
}
}

</style>
