<template>
  <div class="menu">
    <div class="menu__logo">
      <p class="menu__logo-content">.study</p>
    </div>
    <div class="menu__nav">
      <ul class="menu__nav-list">
        <li class="list__item" v-for="(link, index) in links" :key="index">
          <a class="list__item-link" href="#">
            <i class="link-icon" :class="link.icon"></i>
            <span class="link-text">{{ link.text }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="menu__bottom">
      <ul class="menu__nav-list">
        <li class="list__item">
          <a class="list__item-link" href="#"
            ><i class="fas fa-cog link-icon"></i
            ><span class="link-text">Setting</span></a
          >
        </li>
        <li class="list__item">
          <a class="list__item-link" href="#"
            ><i class="fas fa-sign-out-alt link-icon"></i
            ><span class="link-text">Log out</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "menu",
  data() {
    return {
      links: [
        { text: "Overview", icon: "fas fa-home" },
        { text: "Stats", icon: "fas fa-signal" },
        { text: "Projects", icon: "far fa-folder-open" },
        { text: "Chat", icon: "far fa-comment-dots" },
        { text: "Calender", icon: "far fa-calendar-check" },
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
.menu {
  width: 25%;
  height: 100%;
  padding: 40px 0 100px 40px;
  position: absolute;
  left: 0;
  border-right: 1px solid #e6ecec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    &-content {
      color: #000;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 2px;
      user-select: none;
    }
  }
}

.list__item {
  margin-top: 30px;
  width: 100%;
}
.list__item-link {
  color: #9a9a9a;
}
.link-icon {
  margin-right: 20px;
}
.link-text {
  font-size: 18px;
}
</style>
