<template>
  <div class="topbar">
    <div class="search" @click="changeSearchHandler">
      <div class="search__form" v-if="isSearch">
        <input type="text" class="form-input" placeholder="Search" autofocus />
        <i class="fas fa-search form-icon"></i>
      </div>
      <p class="search-title" v-else>
        <i class="fas fa-search search-icon"></i> Search
      </p>
    </div>
    <div class="user">
      <div class="user__natification"><i class="far fa-bell"></i></div>
      <div class="user__name">
        DTT_Zerro <i class="user-icon fas fa-angle-down"></i>
      </div>
      <div class="avatar">
        <img
          src="https://icon-library.com/images/avatars-icon/avatars-icon-16.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isSearch: false,
    };
  },
  methods: {
    changeSearchHandler() {
      this.isSearch = true;
    },
  },
};
</script>
<style lang="scss" scoped>
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0;
  position: absolute;
  width: 75%;
  height: 8vh;
  right: 0;
  top: 0;

  .search {
    color: #a0a0a0;

    &__form {
      border: 2px solid #a0a0a0;

      .form-input {
  border: none;
  font-size: 18px;
  color: #a0a0a0;
  outline: none;
  padding: 5px 10px;
  width: 30vw;
  background-color: #fcfbfd;
}
    }
  }
}
.topbar .search .search__form .form-icon {
  cursor: pointer;
  color: #ffffff;
  background-color: #a0a0a0;
  padding: 10px;
  transition: 0.15s all ease-in-out;
}
.topbar .search .search-title {
  cursor: pointer;
  user-select: none;
}
.topbar .search .search-icon {
  margin-right: 5px;
}
.user {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.user .user__natification {
  margin: 0 20px;
  cursor: pointer;
}
.user .user__name {
  display: flex;
  align-items: center;
}
.user .user__name .user-icon {
  margin-left: 5px;
  cursor: pointer;
}
.user .avatar img {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
</style>
