<template>
  <div class="topbar">
    <div class="search" @click.stop="changeSearchHandler">
      <div class="search__form" v-if="isSearch" v-click-outside='HideSearchInput'>
        <input type="text" class="form-input" placeholder="Search" autofocus  />
        <i class="fas fa-search form-icon"></i>
      </div>
      <p class="search-title" v-else>
        <i class="fas fa-search search-icon"></i> Search
      </p>
    </div>
    <div class="user">
      <div class="user__natification"><i class="far fa-bell"></i></div>
      <div class="user__name">
        DTT_Zerro <i class="user-icon fas fa-angle-down"></i>
      </div>
      <div class="avatar">
        <img
          src="https://icon-library.com/images/avatars-icon/avatars-icon-16.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isSearch: false,
    };
  },
  methods: {
    changeSearchHandler() {
      this.isSearch = true;
    },
    HideSearchInput(){
     this.isSearch = false;
    }
  },
};
</script>
<style lang="scss" scoped>
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0;
  position: absolute;
  width: 75%;
  height: 8vh;
  right: 0;
  top: 0;

  .search {
    color: #a0a0a0;

    &__form {
      border: 2px solid #a0a0a0;

      .form-input {
        border: none;
        font-size: 18px;
        color: #a0a0a0;
        outline: none;
        padding: 5px 10px;
        width: 30vw;
        background-color: #fcfbfd;
      }
    }

    .form-icon {
      cursor: pointer;
      color: #ffffff;
      background-color: #a0a0a0;
      padding: 10px;
      transition: 0.15s all ease-in-out;
    }

    .search-title {
      cursor: pointer;
      user-select: none;
    }

    .search-icon {
      margin-right: 5px;
    }
  }

  .user {
    display: flex;
    align-items: center;
    font-size: 18px;

    &__natification {
      margin: 0 20px;
      cursor: pointer;
    }

    &__name {
      display: flex;
      align-items: center;

      .user-icon {
        margin-left: 5px;
        cursor: pointer;
      }
    }

    .avatar {
      img {
        margin-left: 20px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
</style>
